.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 .flex1{
    display: flex;
    flex-direction: row;
 }
 .flex2{
    display: flex;
    flex-direction: column;
 }
 .flex3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
 }
 .flex4{
    display: flex;
    flex-direction: column;
 }
.text{
    color: aliceblue;
}
.logo{
    width: 120px;    
}
.sidebarText{
    color: white;
    font-family:  -apple-system, BlinkMacSystemFont,Segoe UI,system-ui,Helvetica,Arial,sans-serif;
    font-weight:700; 
    padding-top: 20px;
    margin-top: 5px;
}
.home{
    width: 40px;
    height: 55px;
    padding-top: 20px;
}
.play{
    width: 40px;
    height: 55px;
    padding-top: 20px;
}
.puzzle{
    width: 40px;
    height: 55px;
    padding-top: 20px;
}
.learn{
    width: 40px;
    height: 55px;
    padding-top: 20px;
}
.today{
    width: 40px;
    height: 55px;
    padding-top: 20px;
}
.play{
    width: 40px;
    height: 55px;
    padding-top: 20px;
}
.more{
    width: 40px;
    height: 55px;
    padding-top: 20px;
}
.connect{
    width: 40px;
    height: 55px;
    padding-top: 20px;
}
.trial{
    width: 120px;
    height: 60px;
    padding-top: 5px;
}
.search input{
    width: 20px;
}
.iconText{
    color: white;
    font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,system-ui,Helvetica,Arial,sans-serif;
    font-weight: bolder;
    font-size:medium;
    padding-top: 10px;
}
.playButton{
    background-color: rgb(32, 32, 32);
    width: 120px;
    height: 120px;
    margin-top: 20px;
}
.puzzleButton{
    background-color: rgb(32, 32, 32);
    width: 120px;
    height: 120px;
    margin-top: 20px;
}
.lessonButton{
    background-color: rgb(32, 32, 32);
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-left: 10px;
}
.compButton{
    background-color: rgb(32, 32, 32);
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-left: 10px;
}
th{
    font-size: smaller;
}
.profile{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}
.username{
    color: aliceblue;
    margin-top: 20px;
    margin-left: 5px;
    font-size: large;
    font-weight: 900;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,system-ui,Helvetica,Arial,sans-serif;
}
.trophy{
    margin-top: 155px;
    padding-top: 10px;
    text-align: center;
    margin-left: 20px;
}
hr.break{
    border-top: 1px solid rgb(122, 121, 121);
    padding-bottom: 10px;
}
.stats{
    width: 100%;
    height: 200px;
}
.friends{
    margin-top: 100px;
    margin-left: 20px;
    text-align: left;
    padding-bottom: 20px; 
    font-weight: 900; 
    font-size: larger; 
    color:rgb(200, 201, 202); 
    background-color: rgb(41, 40, 40); 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,system-ui,Helvetica,Arial,sans-serif;
}
.frenProf{
    width: 50px;
    height: 50px;
}
.btn{
    color: aliceblue;
    margin-top: 20px;
    width: 70px;
}